/* style for header*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header {
    background-color: #003366;
    box-shadow: 0 4px 8px 0 rgba(202, 194, 194, 0.4);
    position: sticky;
    top: 0;
    height: 80px;
   }

.logo {
    display: inline-block;
    margin-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 0;
    color: #9bc8f5;
}

.logo span {
    color: white;
}

nav {
    background-color: transparent;
    color: #003366;
    float: right;
    font-weight: bold;
    display: inline-block;
    margin-top: 12px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 10px;
     
}
nav, a, .drop-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    font-weight: bold;
    text-decoration: none; 
    padding: relative;  
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #003366;
    min-width: 200px;
    box-shadow: 0 8px 16px rgb(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-right: 10px;
}
.dropdown-content a:hover {
    background-color: #bbb;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*style for introduction*/
.intro {
    border: none;
    padding: 30px 12px;
    display: block;
    margin-left: 16px;
}
.intro h2 {
    color: rgb(11, 7, 7);
    font-style: bold;
}
.intro span {
    color: #003366;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.intro a {
    border: 1px solid white;
    background-color: #003366;
    color: white;
    border-radius: 8px;
    padding: 8px 10px;
    text-decoration: none;
}
.intro:hover a {
   background-color: rgb(81, 81, 81); 
}
